<%#
  Available locals:
  * content (The object the essence is linked to the element)
  * html_options

  Please consult Alchemy::Content.rb docs for further methods on the content object
%>
<% cache(content) do %>
<div class="content_editor EssenceMenu2" id="<%= content.dom_id %>">
  <%= label_and_remove_link(content) %>
  <%= text_field_tag(
    content.form_field_name(:name),
    content.essence.name,
    :id => content.form_field_id(:name)
  ) %>
<!-- <ul class = "sortable"> -->
<%# Menu.all.each do |menu| %>

<!-- <li><%#= link_to menu.name, '#', :data => {:colorbox => true, :colorbox_html => "#{render partial: "menus/show", locals: {menu: menu} }", :colorbox_width => '450px'} %></li> -->

<%#end%>
<!-- </ul> -->

<%= select_tag content.form_field_name(:restaurant_id),
    options_for_select(Restaurant.all.map {
      |p| [p.name, p.id] }, content.essence.restaurant_id),
      :id => content.form_field_id(:restaurant_id) %>


</div>
<% end %>

  <!-- // <script src="//code.jquery.com/jquery-1.10.2.js"></script> -->
  <!-- // <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script> -->
   <script>
  // $(function() {
  //   $( "#sortable" ).sortable();
  //   $( "#sortable" ).disableSelection();
  // });
  </script>