<div class="page-title">
        Look Who's Talking
    </div>
    <div class="details_holder">
      <div class="innerpage_banner">
          <div class="banner_holder">
             <%= render_elements only: 'image_slide' %>
            </div>
            <div class="other_content">
People are starting to talk about the Cock & Bull. Here is a snippet of some of the gossip that we have been hearing.
<br /><br />

<a class="colorboxPDF cboxElement" href="http://cockandbullnyc.com/file/6927/A SELECTION OF OUR YELP REVIEWS.pdf#toolbar=0&amp;navpanes=0" target="_blank">A Selection Of Our Yelp Reviews</a><br />
<a class="colorboxPDF cboxElement" href="http://cockandbullnyc.com/file/6928/A SELECTION OF OUR OPENTABLE REVIEWS.pdf#toolbar=0&amp;navpanes=0" target="_blank">A Selection Of Our Opentable Reviews</a><br /><a class="colorboxPDF cboxElement" href="http://cockandbullnyc.com/file/6929/A SELECTION OF OUR TRIP ADVISOR REVIEWS.pdf#toolbar=0&amp;navpanes=0" target="_blank">A SELECTION OF OUR TRIP ADVISOR REVIEWS</a><br />


<a href="http://www.thrillist.com/bars/new-york/ny/10036/midtown-/cock-bull-british-pub-and-eatery_bar-food_bars_happy-hour_private-events-bday-parties_burgers_go" target="_blank">Thrillist</a><br /><a href="http://www.bartaste.com/cock-bull-great-british-pub-terrific-crowd-in-midtown/" target="_blank">Bar Taste </a><br /><a class="colorboxPDF cboxElement" href="http://cockandbullnyc.com/file/6695/NY Post for website.pdf#toolbar=0&amp;navpanes=0" target="_blank">NY Post</a><br /><a href="http://www.cnn.com/video/#/video/bestoftv/2012/08/04/exp-bill-attempts-to-rally-olympic-excitement.cnn" target="_blank">CNN </a><br />
<a href="http://cockandbullnyc.com/file/6696/Eater NY.PNG" target="_blank">Eater NY</a>
            </div>          
        </div>
        <div class="make_reservation">
          <div class="form_holder">
              <div class="title"><strong>Make a Reservation</strong><br />Powered By OpenTable</div>
                <div class="textbox ico1"><select name=""><option>00/00/0000</option></select></div>
                <div class="textbox ico2"><select name=""><option>7:00 PM</option></select></div>
                <div class="textbox ico3"><select name=""><option>2 People</option></select></div>
                <div class="btn_holder"><input name="" type="submit" value="Find a Table" /></div>
            </div>
        </div>
    </div>
    <div class="footer"> <strong>Cock &amp; Bull  &bull;  BEST BRITISH PUB NYC  &bull;  23 West 45th Street  &bull;  New York, NY 10036  &bull;  Get Map<br />Tel: 212.819.1900</strong><br /><br />&copy; 2013 Cock &amp; Bull  &bull;  Website Design By <a href="http://orphmedia.com/">Orphmedia</a></div>
