<%- cache(element) do -%>
  <%= element_view_for(element) do |el| -%>
  </br> </br> <h2><%= el.render :menu_category %></h2>
    <%- element.contents.where(name: ['menu_item']).each do |content| -%>
   <p> <%= render_essence_view(content) %></p> </br>
    <%- end -%>
  <%- end -%>
<%- end -%>
